.navbar {
  display: flex;
  border: solid black;
  height:40px;
  margin:1em; 
}

.logoContainer {
  border: solid purple;
  width: 40%;
  padding: 5px;
  line-height: 25px;
}

.tabContainer {
  display: flex;
  justify-content: space-evenly;
  border: solid pink;
  width: 60%;
}

.tabs {
  border: .2px solid black;
  border-radius: 22px;
  text-align: center;
  padding-top: 7px;
  width: 120px;
}

.tabs:hover {
  background-color: green;
  color: white;
}

.mainImg {
  display: flex;
  justify-content: space-around;
  border: solid blue;
  height: 440px;
  margin: 1em;
}

img {
  height: 100%;
}

.optionsContainer {
  display: flex;
  justify-content: space-around;
  border: .2px solid green;
  margin: 1em;
}

/* .choice */

.productContainer {
  border: solid red;
  height: 740px;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}

.displayMain {
  border: solid peru;
  height:340px;
  margin:1em;
  display:flex;
  justify-content: space-between;
}

.product {
  border: .2px solid orange;
  height: 350px;
  width: 30%;
  margin: 10px;
}

.leftImage{
  border: solid grey;
  width: 40%;
}

.textContainer{
  border: solid black;
  width: 60%
}

.hidden {
  display: none;
}